<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header  bg-info ">
                <h2 class="card-title text-white mb-0">Acceso</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="newLogin" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" formControlName="email" class="form-control"[class]="isValidField('email')" />
                      <div *ngIf="submitted && form.email.errors">
                        <div>El usuario: </div>
                        <div *ngIf="form.email.errors.required">No puede estar vacío</div>
                        <div *ngIf="form.email.errors.pattern">Dirección de correo no valida</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" formControlName="password" class="form-control" [class]="isValidField('password')"/>
                      <div *ngIf="submitted && form.password.errors">
                        <div>La password: </div>
                        <div *ngIf="form.password.errors.required">No puede estar vacío</div>
                        <div *ngIf="form.password.errors?.min">Longuitud mínima 8 caracteres</div>
                      </div>
                    </div>
            
                    <div class="text-right">
                        <button type="submit" class="btn btn-info mr-2">
                          Enviar
                          <svg class="bi text-white" width="14" height="14" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#save" />
                          </svg>
                        </button>
                        <button type="reset" (click)="onReset()" class="btn btn-danger">
                            Cancelar
                            <svg class="bi text-white" width="14" height="14" fill="currentColor">
                              <use xlink:href="bootstrap-icons.svg#save" />
                            </svg>
                          </button>
                        
                      </div>
            
                    <div>{{message}}</div>
                  </form>
            </div>
        </div>

    </div>
  </div>
</div>
