<div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Titulo oferta</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <svg class="bi text-white" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#x" />
        </svg>
    </button>
</div>
<div class="modal-body">
    <h5>Descripcion</h5>
    <p>
        Descripcion de lo necesario para ofertar
        (Experiencia, sueldo, etc...)
    </p>
    Descripcion en la cual se desarrolla en que consiste el puesto de trabajo
    Lorem fistrum diodeno a gramenawer caballo blanco caballo negroorl hasta luego Lucas te va a hasé pupitaa te va a
    hasé pupitaa te va a hasé pupitaa benemeritaar. Tiene musho peligro a wan diodeno hasta luego Lucas de la pradera
    torpedo papaar papaar diodeno va usté muy cargadoo qué dise usteer. Benemeritaar ese pedazo de a gramenawer jarl ese
    hombree ese que llega por la gloria de mi madre papaar papaar pecador.
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info mr-2">
        <svg class="bi text-white" width="26" height="26" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#check" />
        </svg>
    </button>
</div>