<div class="container" *ngIf="can == false" class=" container my-3">
    <!--<app-load-spinner></app-load-spinner>-->
    Cargando
</div>
<div class="container my-3" *ngIf="can == true">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card">
                <div class="card-header  bg-info ">
                    <h2 class="card-title text-white mb-0">Perfil</h2>
                </div>
                <div class="card-body">
                    <perfil-al [parent]="areas" [parent2]="data"></perfil-al>
                </div>
            </div>
        </div>
    </div>
</div>