<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title" id="modal-basic-title">Ciclos</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <svg class="bi text-white" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#x" />
        </svg>
    </button>
</div>
<div class="modal-body">
    <form>
        <div *ngFor="let area of areasGet">
            <input type="checkbox" [checked]="validateId(area.id)" name="area.id" ngModel
                (ngModelChange)="updateArea($event,area.id)">
            {{area.description}}
        </div>
    </form>
    <button (click)="onSubmit()" type="btn" class="btn btn-primary">Abrir</button>
</div>