<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title" id="modal-basic-title">Ciclos</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <svg class="bi text-white" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#x" />
        </svg>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let area of areasGet">
        <input type="checkbox" [checked]="areasSaved.includes(area.id)" id="{{area.id}}"
            (change)="updateArea($event,area.id)">
        {{area.description}}
    </div>
    <div class="text-center mt-3">
        <button id="btnModalAr" (click)="onSubmit()" type="btn" class="btn btn-secondary">Confirmar</button>
    </div>
</div>