<div class="d-flex bg-light-dark" id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper ">
        <div class="container my-3" *ngIf="!isLoaded">
            <app-load-spinner></app-load-spinner>
        </div>
        <div class="container  mx-auto">
            <div class="container-fluid my-3" *ngIf="isLoaded">
                <div class="row justify-content-center">
                    <a routerLink="../ofertas">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-info dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#file-earmark-arrow-up" />
                                </svg>
                                </div>
                                <div class="text-info text-center mt-1 ">
                                    <h4>Ofertas activas</h4>
                                </div>
                                <div class="text-info text-center mt-1 ">
                                    <h1>{{ofertaActivas}}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a routerLink="../candidatosPendientes">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-success dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#file-earmark-person " />
                                </svg>
                                </div>
                                <div class="text-success text-center mt-1 ">
                                    <h4>Solicitudes pendientes</h4>
                                </div>
                                <div class="text-success text-center mt-1 ">
                                    <h1>{{solicitudPendiente}}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-danger dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#file-earmark-excel " />
                                </svg>
                                </div>
                                <div class="text-danger text-center mt-1 ">
                                    <h4>Solicitudes rechazadas</h4>
                                </div>
                                <div class="text-danger text-center mt-1 ">
                                    <h1>{{solicitudRechazada}}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-warning dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#person-lines-fill " />
                                </svg>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h4>Candidatos Pendientes</h4>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h1>{{cadidatoPendiente}}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a routerLink="../candidatosAceptados">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-warning dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#person-check-fill " />
                                </svg>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h4>Candidatos aceptados</h4>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h1>{{candidatos}}</h1>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
                            <div class="card border-warning dashboardElement mx-sm-1  dashboardCard justify-content-center">
                                <div class="rounded-circle shadow text-info p-3 mx-auto ">
                                    <svg class="bi " width="45 " height="45 ">
                            <use xlink:href="bootstrap-icons.svg#person-x " />
                                </svg>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h4>Candidatos rechazados</h4>
                                </div>
                                <div class="text-warning text-center mt-1 ">
                                    <h1>{{candidatoRechazado}} </h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
