@import "../../../styles.scss";
ul {
    li {
        a {
            color: white;
            font-weight: bold;
            font-size: 22px;
        }
    }
}

.navbar {
    box-shadow: 4px 4px 15px gray;
    opacity: 90%; //90%
}
