@import "../../../styles.scss";
ul {
    li {
        a {
            color: white;
            font-weight: bold;
            font-size: 22px;
        }
    }
}

.navbar {
    box-shadow: 5px 5px 25px gray;
    opacity: 95%; //90%
}
