<nav class="navbar navbar-expand-md bg-primary container-fluid">
    <!-- Logo -->
    <a alt="pagina de inicio" class="navbar-brand" routerLink="/" alt="Logotipo del centro">
        <!--*ngIf="router.url === '/'"-->
        <img src="/assets/logo.png" alt="Logotipo del centro" height="60" class="d-inline-block align-top">
    </a>
    <!-- Button responsive menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#list" />
            </svg>
        </span>
    </button>
    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="custom-control custom-switch">
            <label id="labelTheme" class="text pr-2 " for="theme-selector">
            </label>
            <input type="checkbox" data-toggle="toggle" data-onstyle="bg-secondary" data-offstyle="bg-secondary" id="theme-selector" class="btn" (click)="setTheme()" title="Cambiar tema">
        </div>
        <ul class="navbar-nav ">

            <li *ngIf="!isLogin() " class="nav-item ">
                <a class="nav-link " routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isLogin() " class="nav-item ">
                <a class="nav-link " routerLink="/registro">Registro</a>
            </li>
            <li *ngIf="isLogin() " class="nav-item ">
                <a class="nav-link " (click)="onLogout()" role="button">Salir
          <svg class="bi text-white " width="16 " height="16 " fill="currentColor ">
            <use xlink:href="bootstrap-icons.svg#box-arrow-right " />
          </svg>
        </a>
            </li>
        </ul>
    </div>

</nav>
