@import "../../../styles.scss";
a {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    box-shadow: 4px 4px 15px gray;
    opacity: 90%; //90%
}
