<div class="bg-light border-right" id="sidebar-wrapper">
  <!-- Profile image -->
  <div class="sidebar-img border-bottom bg-info d-flex flex-column align-items-center">
    <img src="/assets/img_profile.jpeg" alt="imagen_perfill" class="rounded-circle" width="80px">
    <p class="font-weight-bold text-white pt-1 mb-0">Luis Quesada</p>
  </div>

  <!-- Menu -->
  <nav class="list-group">
    <ul>
      <li>
        <a href="#home-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Perfil</a>
        <ul class="list-unstyled collapse" id="home-submenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#page-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ofertas</a>
        <ul class="collapse list-unstyled" id="page-submenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#page-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empresas</a>
        <ul class="collapse list-unstyled" id="page-submenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
