@import "../../../styles.scss";
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  background: rgba($color: ($primary), $alpha: 0.5) !important;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  .sidebar-img {
    padding: 0.875rem 1.25rem;

    img {
      border: 3px solid #fff;
    }
  }

  .list-group {
    width: 15rem;
    
    ul {
      list-style: none;
      padding-left: 0;

      li a {
        padding: 10px;
        display: block;
        color: $primary;
        border-bottom: 1px solid $primary;
        text-decoration: none;
        transition: ease-in-out 0.3s;
        &:hover {
            color: #fff;
            background-color: rgba($color: ($primary), $alpha: 0.5);
            > svg {
                color: #fff !important;
            }
        }
      }
      
      ul a {
          padding-left: 20px;
      }
    }
  }
}

#page-content-wrapper {
  min-width: 100%;
}

#sidebar-wrapper.toggled {
  margin-left: 0;

}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #sidebar-wrapper.toggled {
    margin-left: -15rem;

  }
}
