<div class="bg-light border-right" id="sidebar-wrapper">
    <!-- Profile image -->
    <div class="sidebar-img border-bottom bg-info d-flex flex-column align-items-center">
        <img src="/assets/img_profile.jpeg" alt="imagen_perfill" class="rounded-circle" width="80px">
        <p class="font-weight-bold text-white pt-1 mb-0">Luis Quesada</p>
    </div>

    <!-- Menu -->
    <nav class="list-group">
        <ul>
            <li>
                <a routerLink="../perfil">
                    <svg class="bi text-info" width="20" height="20" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#person" />
                    </svg> Perfil
                </a>
                <!--
                <ul class="list-unstyled collapse" id="profile-submenu">
                    <li>

                           <a routerLink="../perfil">Ver perfil</a> <a *ngIf="rol_id==1" href="#">Ver perfil</a>
                        <a *ngIf="rol_id==2" href="#">Ver perfil</a>
                        <a *ngIf="rol_id==3" routerLink="../perfil">Ver perfil</a>
                        <a *ngIf="rol_id==4" href="../perfil">Ver perfil</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>-->
            </li>

            <li>
                <a href="#offer-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <svg class="bi text-info" width="20" height="20" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#clipboard-data" />
                    </svg> Ofertas
                </a>
                <ul *ngIf="rol_id==3" class="collapse list-unstyled" id="offer-submenu">
                    <li>
                        <a routerLink="../ofertas">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Mis ofertas</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#company-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <svg class="bi text-info" width="20" height="20" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#briefcase" />
                    </svg> Empresas
                </a>
                <ul class="collapse list-unstyled" id="company-submenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>