<div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Nombre empresa</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <svg class="bi text-white" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#x" />
        </svg>
    </button>
</div>
<div class="modal-body">
    <h5>Descripcion</h5>
    <img src="https://image.freepik.com/vector-gratis/exito-empresa-buen-concepto-trabajo-equipo_81522-3909.jpg" 
    alt="imagen-empresa" class="img-fluid w-50 h-50 mx-3 d-inline-flex float-left">
    Lorem fistrum diodeno a gramenawer caballo blanco caballo negroorl hasta luego Lucas te va a hasé pupitaa te va a
    hasé pupitaa te va a hasé pupitaa benemeritaar. Tiene musho peligro a wan diodeno hasta luego Lucas de la pradera
    torpedo papaar papaar diodeno va usté muy cargadoo qué dise usteer. Benemeritaar ese pedazo de a gramenawer jarl ese
    hombree ese que llega por la gloria de mi madre papaar papaar pecador. A gramenawer llevame al sircoo sexuarl
    caballo blanco caballo negroorl apetecan torpedo a peich está la cosa muy malar. Ese que llega te va a hasé pupitaa
    va usté muy cargadoo quietooor tiene musho peligro llevame al sircoo. Está la cosa muy malar quietooor te va a hasé
    pupitaa fistro qué dise usteer se calle ustée a wan caballo blanco caballo negroorl. Diodeno va usté muy cargadoo te
    voy a borrar el cerito está la cosa muy malar pupita quietooor a gramenawer sexuarl a wan la caidita. Diodeno está
    la cosa muy malar a gramenawer llevame al sircoo diodenoo no te digo trigo por no llamarte Rodrigor.
</div>