<!-- Header -->
<div class="container-fluid pt-3 zindex-dropdown ">
    <div class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/front.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/oferta.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/elearning.jpg" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>
    <!-- Info -->
    <div class="jumbotron jumbotron-fluid p-5 mb-0">
        <h1 class="display-4">Bolsa de trabajo</h1>
        <p class="lead">Ofrecemos ofertas de empleo y visivilidad a todos los alumnos de CIFP Virgen de Gracia.</p>
        <hr class="my-4">
        <p>Somos un centro integrado de formacion profesional con un amplico catalogo de estudios .</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" href="https://cifpvirgendegracia.com/titulaciones/" role="button">Oferta educativa</a>
        </p>
    </div>
</div>
