<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Contenido de la pagina -->
    <div id="page-content-wrapper">
        <!-- Botón para cerrar el sidebar -->
        <a class="btn" class="menu-toggle" id="menu-toggle">
            <svg class="bi text-info" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#grid-3x3-gap" />
            </svg>
        </a>

        <div class="container-fluid">

        </div>
    </div>
</div>