<div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Modificar oferta</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <svg class="bi text-white" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#x" />
        </svg>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="areaForm" novalidate (ngSubmit)="onSubmit()" class="mt-4 mb-4" method="POST">
        <div class="form-row">
            <div class="form-group col-10 col-sm-8 mx-auto">
                <label>Nombre:</label>
                <input type="text" class="form-control" formControlName="nombre" [class]="isValidField('nombre')"
                    aria-label="Nombre area">
                <div class="invalid-feedback">
                    <span *ngIf="areaForm.get('areaForm').errors?.required">
                        Por favor introduzca un area
                    </span>
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="areaForm.get('email').errors?.pattern">
                        Por favor introduzca su solo texto
                    </span>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit " class="btn btn-info">
                Añadir
                <svg class="bi text-white" width="14" height="14" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#save" />
                </svg>
            </button>
        </div>
    </form>
</div>