/* You can add global styles to this file, and also import other style files */


/* Contenedor del contenido de la parte intentar de la web */

#page-content-wrapper {
    width: 100%;
}

@import "styles-light.scss";
@import "styles-dark.scss";
/* Importing Bootstrap SCSS file. */

@import "../node_modules/bootstrap/scss/bootstrap";
a {
    &.badge:hover {
        cursor: pointer;
    }
}
.btn-primary {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

body {
    background-color: $light !important;
}
