$primary-dark: #1a1a2e;
$secondary-dark: #e94560;
$success-dark: #e6e2cd;
$info-dark: #0f3460;
$warning-dark: red;
$danger-dark: red;
$light-dark: #16213e;
$dark: #213742;
app-root #themeChanger.dark {
    //dario
    .text {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .btn.btn-primary {
        border: 3px solid #fff;
    }
    .btn {
        transition: all ease 0.2s;
    }
    .btn:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 2px grey;
    }
    .btn.btn-aside.active {
        background-color: $dark;
    }
    //yo
    body {
        background-color: $primary-dark !important;
    }
    .text-light {
        color: white;
        font-weight: bold;
    }
    .footerBot {
        color: white;
        font-weight: bold;
        font-size: 16px;
        background-color: $light;
    }
    .navbar {
        box-shadow: 5px 5px 25px $success-dark;
        opacity: 95%; //90%
    }
    .bg-light-dark {
        background-color: $light-dark !important;
    }
    .bg-primary {
        background-color: $primary-dark !important;
    }
    .bg-secondary {
        background-color: $secondary-dark !important;
    }
    .bg-danger {
        background-color: $danger-dark !important;
    }
    .bg-info {
        background-color: $info-dark !important;
    }
    .btn-info {
        background-color: $info-dark !important;
    }
    .bg-success {
        background-color: $success-dark !important;
    }
    .btn.btn-danger {
        background-color: $danger-dark !important;
    }
    .btn.btn-success {
        background-color: $success-dark !important;
    }
    .btn.btn-primary {
        background-color: $primary-dark !important;
    }
    .btn-secondary {
        background-color: $secondary-dark !important;
    }
    .btn.btn-primary,
    .btn.btn-secondary {
        border: 3px solid #fff;
    }
}
