/* You can add global styles to this file, and also import other style files */


/* Contenedor del contenido de la parte intentar de la web */

#page-content-wrapper {
    width: 100%;
}

@import "styles-light.scss";
@import "styles-dark.scss";

/* Importing Bootstrap SCSS file. */

@import "../node_modules/bootstrap/scss/bootstrap";
a {
    &.badge:hover {
        cursor: pointer;
    }
}
.btn-primary {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.container {
    min-height: calc(100vh - (145px));
    min-width: 100%;
    margin: 0 auto;
}

body {
    background-color: $light !important;
}

.text {
    font-size: 16px;
}

.btn-border {
    border: $light solid 2px;
}

.card-footer {
    overflow: hidden;
}

.badge {
    white-space: initial !important;
}

.pagination {
    width: fit-content;
    margin: auto;
}
