$primary: #003f5a;
$secondary: #007a7a;
$success: #28a745;
$info: #de6600;
$warning: #ffc107;
$danger: #dc3545;
$light: #ebd9c8;
$dark: black;

$link-color: blue;

.card-footer {
    overflow: hidden;
}

.badge {
    white-space: initial !important;
}

.pagination {
    width: fit-content;
    margin: auto;
}

app-root #themeChanger.light {
  
    .btn.btn-primary{      
        border: 3px solid #fff;
    }

    .btn {        
        transition: all ease 0.2s;
    }

    .btn:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 2px black;
    }
        
    .btn.btn-aside.active {
        background-color: $dark;
    }

}
  