#page-content-wrapper {
    width: 100%;
}

@import "styles-light.scss";
@import "styles-dark.scss";

/* Importing Bootstrap SCSS file. */

@import "../node_modules/bootstrap/scss/bootstrap";
html,
body {
    height: 100%;
    background-color: $light !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
}

//CLASES
.btn-primary {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.container {
    min-height: calc(100vh - (145px));
    min-width: 100%;
    margin: 0 auto;
}

.text {
    font-size: 16px;
}

.btn-border {
    border: $light solid 2px;
}

.card-footer {
    overflow: hidden;
}

.badge {
    white-space: initial !important;
}

.pagination {
    width: fit-content;
    margin: auto;
}

.dashboardCard {
    min-height: 250px;
    min-width: 270px;
}

.dashboardElement {
    border: 9px outset rgba(28, 110, 164, 0.79);
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.39);
}

.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}
