<footer class="container-fluid bg-primary">
    <div class=" row text-white bold">
        <div class="mx-auto pt-3  ">
            © 2021
            <a class="text-white bold footerLink" alt="CIFP Virgen de Gracia" title="CIFP Virgen de Gracia" target="_blank" href="https://bolsatrabajo.com/">CIFP Virgen de Gracia</a>
        </div>
        <!-- Redes sociales -->
        <ul class="list-inline align-content-md-start pr-2 pt-3">
            <!-- twitter -->
            <li class="list-inline-item">
                <a class="" rel="noopener" alt="twitter" href="https://twitter.com/cifpvirgen" onclick="javascript:window.open('https://twitter.com/cifpvirgen'); return false;"><span class="screen-reader-text">
                  <svg class="ml-1 mr-2 bi text-white" width="15" height="15" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#twitter"/>
                  </svg></span></a></li>
            <!-- facebook -->
            <li class="list-inline-item">
                <a class="" rel="noopener" alt="facebook" href="https://www.facebook.com/cifpVirgen/" onclick="javascript:window.open('https://www.facebook.com/cifpVirgen/'); return false;"><span class="screen-reader-text">
                <svg class="ml-1 mr-2 bi text-white" width="16" height="16" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#facebook" />
                            </svg></span></a></li>
            <!-- youtube -->
            <li class="list-inline-item">
                <a class="" rel="noopener" alt="youtube" href="https://www.youtube.com/channel/UCg4rwKhLlTZ-uo6J7ROZRpQ" onclick="javascript:window.open('https://www.youtube.com/channel/UCg4rwKhLlTZ-uo6J7ROZRpQ'); return false;"><span class="screen-reader-text">
                  <svg class="ml-1 mr-2 bi text-white" width="15" height="15" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#youtube" />
                            </svg></span></a></li>
            <!-- instagram -->
            <li class="list-inline-item">
                <a class="" rel="noopener" alt="instagram" href="https://www.instagram.com/cifp_virgendegracia/" onclick="javascript:window.open('https://www.instagram.com/cifp_virgendegracia/'); return false;"><span class="screen-reader-text">
                  <svg class="ml-1 mr-2 bi text-white" width="15" height="15" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#instagram" />
                            </svg></span></a></li>
            <!-- RSS -->
            <li class="list-inline-item">
                <a class="" target="_blank" rel="noopener" alt="RSS" href="https://cifpvirgendegracia.com/feed/"><span class="screen-reader-text">
                  <svg class="ml-1 mr-2 bi text-white " width="15" height="15" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#rss" />
                            </svg></span></a></li>
        </ul>
        <!-- Fin redes sociales -->
        <!-- Copyright -->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->
