<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- Button close Sidebar -->
    <a class="btn" id="menu-toggle">
      <svg class="bi text-info" width="32" height="32" fill="currentColor">
        <use xlink:href="bootstrap-icons.svg#grid-3x3-gap" />
      </svg>
    </a>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <!-- Card with offer -->
          <div class="card w-100 mb-4 shadow">
            <div class="card-header bg-info">
              <h2 class="card-title text-white font-weight-bold my-2">Ofertas publicadas</h2>
              <a class="rounded-circle position-absolute border border-white bg-info" (click)=offerNew()>
                <svg class="bi text-white" width="32" height="32" fill="currentColor">
                  <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
              </a>
            </div>
            <div class="card-body mt-2">
              <!-- Card with offer -->
              <div class="row">
                <div class="col-sm-6" *ngFor="let offer of offers; index as i">
                  <div class="card mb-4 border-info shadow">
                    <div class="card-header bg-info text-white">
                      <h5 class="card-title mb-0">{{ offer.name }}</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{ offer.description }}</p>
                    </div>
                    <div class="card-footer d-flex flex-row p-1">
                      <button type="button" class="btn btn-info mr-2">
                        <svg class="bi text-white" width="26" height="26" fill="currentColor" (click)=offerUpdate(offer)>
                          <use xlink:href="bootstrap-icons.svg#pencil" />
                        </svg>
                      </button>
                      <button type="button" class="btn btn-warning mr-2">
                        <svg class="bi text-white" width="26" height="26" fill="currentColor" (click)=offerDuplicate(offer)>
                          <use xlink:href="bootstrap-icons.svg#files" />
                        </svg>
                      </button>
                      <button type="button" class="btn btn-danger">
                        <svg class="bi text-white" width="26" height="26" fill="currentColor" (click)=offerDelete(offer.id)>
                          <use xlink:href="bootstrap-icons.svg#x" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
