<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!-- Button close Sidebar -->
        <a class="btn" id="menu-toggle">
            <svg class="bi text-info" width="32" height="32" fill="currentColor">
        <use xlink:href="bootstrap-icons.svg#grid-3x3-gap" />
      </svg>
        </a>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- Card with offer -->
                    <div class="card w-100 mb-4 shadow">
                        <div class="card-header bg-info">
                            <h2 class="card-title text-white font-weight-bold my-2">Alumnos</h2>
                        </div>
                        <div class="card-body mt-2">
                            <!-- Card with offer -->
                            <div class="row">
                                <div class="col-sm-6" *ngFor="let student of students; index as i">
                                    <div class="card mb-4 border-info shadow">
                                        <div class="card-header bg-info text-white">
                                            <h5 class="card-title mb-0">{{ student.name }} {{ student.lastnames }} </h5>
                                        </div>
                                        <div class="card-body">
                                            <img src="http://www.hablamosdeeuropa.es/PublishingImages/No%20me%20paro/Formaci%C3%B3n/estudiante.png" class="float-left" width="110" height="110">
                                            <p class="card-text ">Rama</p>
                                            <p class="card-text ">Experiencia</p>
                                            <p *ngIf="student.status==0" class="card-text "> Desempleado</p>
                                            <p *ngIf="student.status==1" class="card-text "> Trabajando</p>
                                            <p *ngIf="student.status==2" class="card-text "> Trabajando, escucha ofertas</p>
                                            <p>{{student.aptitudes}}</p>
                                        </div>
                                        <button type="button" class="btn btn-primary">
                        <svg class="bi text-white" width="26" height="26" fill="currentColor" >
                          <use xlink:href="bootstrap-icons.svg#eye" />
                        </svg>
                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
